<div class="container">
  <div class="pet-name">
    <h1><%= @pet.name %></h1>
  </div>
  <div class="pet-image">
    <%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
  </div>
  <div class="edit">
    <% if policy(@pet).edit? %>
      <%= link_to "Edit", edit_pet_path(@pet) %>
      <%= link_to "Delete", pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
    <% end %>
  </div>
  <div class="pet-owner">
   <h2> <%= @pet.user.first_name %></h2>
   <i class="fa-regular fa-user"></i>
  </div>
  <div class="owner-address">
   <p> <%= @pet.user.address %></p>
   <i class="fa-solid fa-location-dot"></i>
  </div>
  <p><%= @pet.description %></p>
</div>


<div class="container">
  <% if user_signed_in? %>
    <% if current_user != @pet.user %>
      <%= simple_form_for [@pet, @booking],  data: { controller: 'flatpickr', unavailable_dates: @pet.unavailable_dates.to_json } do |f| %>
        <%= f.input :start_date, as: :string, input_html: { type: 'date', data: { flatpickr_target: "startDate" }, class: "datepicker" } %>
        <%= f.input :end_date, as: :string, input_html: { type: 'date', data: { flatpickr_target: "endDate" }, class: "datepicker" } %>
        <%= f.submit "Book it!" %>
      <% end %>
    <% end %>
    <% else %>
      <div class="alert alert-dismissible fade show">
        <strong><i class="fa-solid fa-triangle-exclamation"></i></strong> You should log in to book it.
      </div>
    <% end %>
<div>
