<div class="card-category"
  style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @pet.photo.key, height: 300, crop: :fill %>')"
>
  <%= @pet.name %>
</div>

<%= @pet.name %>
<%= cl_image_tag @pet.photo.key, height: 300, width: 400, crop: :fill %>
<%= link_to "Edit", edit_pet_path(@pet) %>
<%= link_to "Delete", pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  %>
