<br>

<div class="container-show">
  <div class="pet-image">
    <%= cl_image_tag @pet.photo.key, height: 600, width: 700, crop: :fill %>
  </div>

  <div class="map" style="width: 100%; height: 600px;"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
    data-map-target="container"
    data-map-has-popup-value= "false" >
  </div>

</div>

<div class="container">
  <div class="pet-info">
    <div class="pet-name">
      <h1><%= @pet.name %></h1>
    </div>


    <div class="edit">
      <% if policy(@pet).edit? %>
        <%= link_to edit_pet_path(@pet) do %>
          <i class="fa-solid fa-pen-to-square" style="color: #009500;"></i>
        <% end %>
        <%= link_to pet_path(@pet), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}  do %>
          <i class="fa-solid fa-trash-can" style="color: #009500;"></i>
        <% end %>
      <% end %>
    </div>


    <div class="pet-owner">
      <h2> <%= @pet.user.first_name %>
      <i class="fa-regular fa-user"></i></h2>
    </div>


    <div class="owner-address">
      <p> <%= @pet.user.address %></p>
      <i class="fa-solid fa-location-dot"></i>
    </div>

      <div>
        <p><%= @pet.description %></p>
      </div>
  </div>
</div>

<br>
<br>
<br>

<% if user_signed_in? %>
  <div class="accordion dropdown" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Reviews <i class="fa-solid fa-comment px-2"></i>
        </button>
      </h2>



      <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
        <div class="accordion-body">

          <div class="py-5" data-controller='insert-in-list'>

            <% if current_user != @pet.user %>
              <div class="mb-4">
                <h3>New Review</h3>
                <%= render 'pet_reviews/form', pet: @pet, pet_review: @pet_review %>
              </div>
            <% end %>

            <h3>All Reviews</h3>
            <ul class="list-unstyled"  data-insert-in-list-target='items'>
              <% @pet.pet_reviews.order(created_at: :desc).each do |pet_review| %>
                  <%= render 'pets/pet_review', pet_review: pet_review %>
              <% end %>
            </ul>

          </div>

        </div>
      </div>
    </div>
  </div>
<% end %>







<div class="d-flex justify-content-center mt-5">
  <div class="booking-form">
    <% if user_signed_in? %>
      <% if current_user != @pet.user %>
        <h1>New Booking</h1>
        <%= simple_form_for [@pet, @booking],  data: { controller: 'flatpickr', unavailable_dates: @pet.unavailable_dates.to_json } do |f| %>
          <%= f.input :start_date, as: :string, input_html: { type: 'date', data: { flatpickr_target: "startDate" }, class: "datepicker" } %>
          <%= f.input :end_date, as: :string, input_html: { type: 'date', data: { flatpickr_target: "endDate" }, class: "datepicker" } %>
          <%= f.submit "Book it!", class:"btn btn-success" %>
        <% end %>
      <% end %>
    <% else %>
      <div class="alert alert-dismissible fade show">
        <strong><i class="fa-solid fa-triangle-exclamation"></i></strong> You should log in to book it.
      </div>
    <% end %>
</div>
