<div class="user-info-profile">
  <h2><%= "#{current_user.first_name.capitalize} #{current_user.last_name.capitalize}" %></h2>
  <h5><%= current_user.email %></h5>
  <p><%= current_user.address %></p>
</div>

<div class = "container-profile">
  <div class="current-pets">
    <h2 class="booking-text">Your current pets</h2>
     <% @pets.each do |pet| %>
        <ul class="list-unstyled text-decoration-none">
          <li>
            <div class="cards">
              <div class="card-product">
                <%= cl_image_tag pet.photo.key, height: 300, width: 400, crop: :fill %>
                <div class="card-product-infos">
                  <h2><%= link_to pet.name, pet_path(pet), class:"text-decoration-none" %></h2>
                  <p>Age <%= pet.age %></p>
                  <% if pet.available %>
                    <i class="fa-solid fa-check"></i>
                  <% else %>
                    <i class="fa-solid fa-xmark"></i>
                  <% end %>
                </div>
              </div>
            </div>
          </li>
        </ul>
      <% end %>

  </div>

  <div class="current-booking">
    <h2 class="booking-text">Your current booking</h2>
    <% current_user.bookings.each do |booking| %>
      <ul class="list-unstyled text-decoration-none">

        <li>
          <div class="card-product">
            <%= cl_image_tag booking.pet.photo.key, height: 300, width: 400, crop: :fill %>
            <div class="card-product-infos">
              <h2><%= link_to booking.pet.name, pet_path(booking.pet), class:"text-decoration-none" %></h2>
              <p>Age <%= booking.pet.age %></p>
            </div>
          </div>
        </li>

      </ul>
    <% end %>
  </div>
</div>
